---
layout: default
---
<link rel="shortcut icon" href="{{ site.avatar }}" type="image/x-icon" />

<p>
	{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
<!-- site_tags: {{ site_tags }} -->
{% assign tag_words = site_tags | split:',' | sort %}
<!-- tag_words: {{ tag_words }} -->

    {% for tag in tag_words %}
    <!-- Here's a hack to generate a "tag cloud" where the size of
    the word is directly proportional to the number of posts with
    that tag. -->
    <a href="/tags/#{{ tag | slugify }}-ref" }}/" 
    style="font-size: {{ site.tags[tag] | size | times: 1.5 | plus: 10 }}px">
        {{ tag }}
    </a>
    {% endfor %}
</p>

<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <!--...
      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
      -->
    </article>
  {% endfor %}
</div>